.grid_stack_vertical_section {
    padding: 120px;
    
    .vertical_cards {
        height: 400vh;
        .vertical_card {
            width: 100%;
            max-width: 400px;
            aspect-ratio: 1/1;
            margin: 0 auto 100px;
            border: none;
            background-color: #cccccc;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 62px;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 40px;
        }
    }
}

.grid_stack_horizontal_section {
    padding: 120px;

    .cards {
        display: flex;
        flex-wrap: wrap;
        .card {
            width: 100%;
            max-width: 400px;
            aspect-ratio: 1/1;
            margin: 0 auto 100px;
            border: none;
            background-color: #cccccc;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 62px;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 40px;
        }
    }
}