.text_scrub_opacity_section {
    height: 200vh;
    .scrub_text {
        font-size: 30px;
        line-height: normal;
        color: #1f374f;
        font-family: "Inter", Sans-serif;
        font-weight: 700;
    }
}