.imgbox_full,
.imgbox {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.imgbox_full img,
.imgbox img {
  width: 100%;
  height: auto;
}

.imgbox_full {
  height: 100%;
}
.imgbox_full img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.spacer {
  height: 1000px;
}

* {
  cursor: default;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
  position: static;
  scroll-behavior: smooth;
}

select,
input,
button:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

section .content_wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
section .content_wrapper .git_button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 45px;
}
section .content_wrapper .git_button, section .content_wrapper .git_button * {
  cursor: pointer;
}
section .git_button {
  font-size: 65px;
  text-align: center;
  display: block;
}
section .git_button, section .git_button * {
  cursor: pointer;
}

.heading_section .title_one,
.heading_section .title_tow,
.heading_section .title_three,
.heading_section .title_four,
.heading_section .title_five {
  font-size: 50px;
  line-height: 58px;
  color: #1f374f;
  font-family: "Inter", Sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.heading_section .title_one span,
.heading_section .title_tow span,
.heading_section .title_three span,
.heading_section .title_four span,
.heading_section .title_five span {
  color: #FF642E;
}
.heading_section .title_three {
  -webkit-perspective: 400px;
          perspective: 400px;
}
.heading_section .title_four .split-line {
  overflow: hidden;
}
.heading_section .text_wrapper {
  position: relative;
}
.heading_section .text_wrapper .title_five {
  background: linear-gradient(120deg, hsl(210, 43.6%, 21.6%) 50%, hsla(210, 43.6%, 21.6%, 0.3) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: -200% 0%;
  display: inline-block;
}
.heading_section .text_wrapper .title_five span {
  background: -webkit-gradient(linear, left top, right top, from(#FF642E), to(#FF642E));
  background: linear-gradient(90deg, #FF642E, #FF642E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_scrub_opacity_section {
  height: 200vh;
}
.text_scrub_opacity_section .scrub_text {
  font-size: 30px;
  line-height: normal;
  color: #1f374f;
  font-family: "Inter", Sans-serif;
  font-weight: 700;
}

.tag_scroll_section {
  height: 100vh;
}
.tag_scroll_section .tag_wrapper {
  width: 100%;
  overflow-x: hidden;
}
.tag_scroll_section .tag_wrapper .tag_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.tag_scroll_section .tag_wrapper .tag_line .tag {
  padding: 20px 26px;
  border-radius: 800px;
  font-size: 28px;
  color: #000000;
  background-color: #dde5f1;
  text-wrap: nowrap;
}

.moving_card_section {
  height: 100vh;
}
.moving_card_section .moving_card {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 30px;
  background-color: #1f374f;
}

.typing_text_section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}
.typing_text_section .text_wrapper {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.typing_text_section .text_wrapper .typing_text {
  font-size: 60px;
  line-height: normal;
  color: #1f374f;
  font-family: "Inter", Sans-serif;
  font-weight: 700;
  text-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.typing_text_section .text_wrapper .typing_text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 7px;
  height: 0%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  background-color: #1f374f;
  -webkit-animation: heightPulse 0.8s linear infinite;
          animation: heightPulse 0.8s linear infinite;
}
.typing_text_section .typing_card {
  width: 60%;
  aspect-ratio: 3/2;
  background-color: #1f374f;
  border-radius: 40px;
  margin: 0 auto;
}

@-webkit-keyframes heightPulse {
  0% {
    height: 100%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes heightPulse {
  0% {
    height: 100%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.grid_stack_vertical_section {
  padding: 120px;
}
.grid_stack_vertical_section .vertical_cards {
  height: 400vh;
}
.grid_stack_vertical_section .vertical_cards .vertical_card {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  margin: 0 auto 100px;
  border: none;
  background-color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 62px;
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 40px;
}

.grid_stack_horizontal_section {
  padding: 120px;
}
.grid_stack_horizontal_section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid_stack_horizontal_section .cards .card {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  margin: 0 auto 100px;
  border: none;
  background-color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 62px;
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 40px;
}

.scrollig_grid_section {
  height: 100vh;
}
.scrollig_grid_section .grid_content {
  overflow: hidden;
  width: 100%;
  height: 70vh;
}
.scrollig_grid_section .grid_content .grid_wrapper {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-transform: translateX(36%) skew(-35deg, 10deg);
          transform: translateX(36%) skew(-35deg, 10deg);
}
.scrollig_grid_section .grid_content .grid_wrapper .grid_column {
  width: calc(33.3333333333% - 13.3333333333px);
}
.scrollig_grid_section .grid_content .grid_wrapper .grid_column .grid {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  background-color: #1f374f;
  margin-bottom: 20px;
}

.scrolling_banner_section {
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.scrolling_banner_section .grid_content {
  width: 40%;
  height: 90vh;
  overflow: hidden;
  border-radius: 40px;
  background-color: #121720;
  margin-right: 40px;
  padding: 20px;
}
.scrolling_banner_section .grid_content .grid_wrapper {
  width: calc(100vw - 60px);
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-transform: translateX(-15%) skew(-35deg, 10deg);
          transform: translateX(-15%) skew(-35deg, 10deg);
}
.scrolling_banner_section .grid_content .grid_wrapper .grid_column {
  width: calc(33.3333333333% - 13.3333333333px);
}
.scrolling_banner_section .grid_content .grid_wrapper .grid_column .grid {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  background-color: #1f374f;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */